
body {
	background-color:#B0B0B0;
}
h1 {
	color: bleu;
	texte-align: center;
	font-size:22px;
	border:solid;
}
h2{
	text-align: center;
	color: red;
}
p{
	font-size:22px;
	color: black
	font-family:Times New Roman
}
.img{
	text-align: center;
}